<!-- <h1>this is the index placeholder <h1> -->
<!-- <div class = "col-md-offset-0"> -->
<div id="pins" class="transitions-enabled">
	<!-- list out all PINS -->
		<% @pins.each do |pin| %>
			<div class="box panel panel-default">
					<%= link_to (image_tag pin.image.url), pin %>
					<h2><%= link_to pin.title, pin %></h2>
					
					<p class="user">Submitted by: <%= pin.user.email %></p>
			</div>
		<% end %>
</div>
<!-- </div>
 -->