<div id="pins" class="transitions-enabled infinite scroll centered clearfix">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
        <%= link_to (image_tag pin.image.url(:medium), class: 'image'), pin %>
        	<h2><%= link_to pin.title, pin %></h2>
			
        <p class="user">
          Submitted by: 
  				<% if pin.user.username == nil%>
  					<%= pin.user.email %>
  				<% else %>
  					<%= pin.user.username%>
  				<% end %>
  			</p>

    </div>
  <% end %>
   </div>
  </div>	
</div>