<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
  <div class ="btn btn-lg btn-default">
  	<%= f.submit "Unfollow"%>
  </div>
<% end %>